body {
    font-size: 140%;
    background-color:#E3F4F4 !important;
  }
  
  h2 {
    text-align: center !important;
    padding: 20px 0 !important; 
    color: #6499E9;
  }
  
  table caption {
    padding: 0.5em 0;
  }
  
  table.dataTable th,
  table.dataTable td {
    white-space: nowrap;
  }
  
  .p {
    text-align: center !important;
    padding-top: 140px !important;
    font-size: 14px !important;
  }
  img{
    width: 1118px !important;
    height: 400px !important;
  }
  th{
    background-color: #007BFF !important;
  }
  table{
    background-color:#A3C7D6;
  }
  span{
    color: #007BFF !important;
    font-weight: bold;

    
  }
